body {
   /* background-color: rgb(67, 70, 67); */
}
.big-font{
	width:100%;
  margin: auto;
}
.colorOrange{
  color: orange;
}
.colorSeaGreen {
  color: seagreen
}
.colorLightBlue {
  color: lightblue  
}
.colorTomato {
  color: tomato
}
#flip-note {
  font-family: fantasy;
  background-color: transparent;
  width: 15em;
  height: 60vh;
  perspective: 1000px;
  margin: auto;
}
#flip-note-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#flip-note-front, #flip-note-back {
  background:rgb(250, 250, 250);
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  justify-content: left;
}
#flip-note-front {
  /*background-color: #bbb; */
  /* justify-content: left; */
}
#flip-note-back {
  /* background-color: #2980b9; */
  transform: rotateY(180deg);
}
/* #greeting{
  justify-content: left;
  width:40%;
} */
/* #flip-note:target #flip-note-inner {
  transform: rotateY(180deg);
} */
/* #flip-note:active #flip-note-inner {
  transform: rotateY(180deg);
} */
/* .container {
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
   min-width: 650px;
} */

/* .header {
   font-size: 80px;
   color: grey;
}


.screenshot {
   height: 300px;
   width: 400px;
}

.projectName{
   margin: auto auto;
   font-size: 40px;
   color:white
}

h1 {
   color: black;
   font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
   font-weight: bold;
   text-decoration: underline;
}

 .panelDetails {
   background-color: rgb(67, 70, 67);
   font-family: 'Abel', sans-serif;
}

.infoContainer {
   max-width: 400px;
   color:cadetblue;
   margin: auto;
   padding: 5px;
   background: rgb(15,20,20);
   text-decoration: none;
   
}

a, a:visited, a:hover, a:active {
   color: inherit;
   font-family: 'Alegreya Sans SC';
   text-decoration: none;
 } */


/* font-family: 'Nothing You Could Do', cursive;
font-family: 'Syncopate', sans-serif; */
