/* body {
   background-color: rgb(67, 70, 67);
} */

/* .container {
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
   min-width: 650px;
} */

/* .header {
   font-size: 80px;
   color: grey;
}

.colorOrange{
   color: orange;
}

.colorSeaGreen {
   color: seagreen
   
}

.colorLightBlue {
   color: lightblue  
}

.colorTomato {
   color: tomato
}


.screenshot {
   height: 300px;
   width: 400px;
}

.projectName{
   margin: auto auto;
   font-size: 40px;
   color:white
}

h1 {
   color: black;
   font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
   font-weight: bold;
   text-decoration: underline;
}

 .panelDetails {
   background-color: rgb(67, 70, 67);
   font-family: 'Abel', sans-serif;
}

.infoContainer {
   max-width: 400px;
   color:cadetblue;
   margin: auto;
   padding: 5px;
   background: rgb(15,20,20);
   text-decoration: none;
   
}

a, a:visited, a:hover, a:active {
   color: inherit;
   font-family: 'Alegreya Sans SC';
   text-decoration: none;
 } */


/* font-family: 'Nothing You Could Do', cursive;
font-family: 'Syncopate', sans-serif; */
